
  <nav class="blog-nav nav nav-justified my-5">
            {% if page.has_next %}
                <a class="nav-link-prev nav-item nav-link d-none rounded-left " href=>السابق<i class="arrow-prev fas fa-long-arrow-alt-right"></i></a>
                <a class="nav-link-next nav-item nav-link rounded ml-2" href="?page={{ page.next_page_number }}">التالي<i class="arrow-next fas fa-long-arrow-alt-left"></i></a>
            {% endif %}

            {% if page.has_previous %}
                <a class="nav-link-prev nav-item nav-link rounded-left" href="?page={{ page.previous_page_number }}">السابق<i class="arrow-prev fas fa-long-arrow-alt-right"></i></a>
                
            {% endif %}    
        </nav>