{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}My Blog{% endblock %}

{% block content %}
    <!-- title page subscrib button -->
    <section class="cta-section theme-bg-light py-5">
      <div class="container text-center">
          <h2 class="heading">  مدوتنة جانجو العربي - لتعلم جانجو باللغة العربية</h2>
          <div class="intro">مرحبا بك في مدونتي!! أشترك من أجل الحصول أخر دورسي</div>
          <div class="intro">امتلك في مدونتي  {% total_posts %} من الدروس .</div>

          <form class="signup-form form-inline justify-content-center pt-3">
              <div class="form-group">
                  <label class="sr-only" for="semail">أدخل بريدك الإلكتروني</label>
                  <input type="email" id="semail" name="semail1" class="form-control ml-md-1 semail" placeholder="أدخل بريدك الإلكتروني">
              </div>
              <button type="submit" class="btn btn-primary">أشتراك</button>
          </form>
      </div><!--//container-->
  </section>
  <!-- title page //////// -->
  <section class="blog-list px-3 py-5 p-md-5">
    <div class="container">
        {% if tag %}
          <h2 class="my-5"> كورسات خاصة بــ "{{ tag.name }}"</h2>
        {% endif %}

        {% for post in posts %}
            <div class="item mb-5">
                <div class="media">
                    <img class="ml-3 img-fluid post-thumb d-none d-md-flex" src="{{post.image.url}}" alt="image">
                    <div class="media-body">
                        <h3 class="title mb-1"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                        
                        <div class="meta mb-1"><span class="date">نشر قبل {{ post.publish|timesince }} الماضية</span></div>
                        <div class="intro">{{ post.description|truncatewords_html:30 }}</div>
                        <a class="more-link" href="{{ post.get_absolute_url }}">اقراء المزيد &larr;</a>
                        <p class="tags " style="float: left;">
                          {% for tag in post.tags.all %}
                            <a href="{% url "blog:post_list_by_tag" tag.slug %}">
                              {{ tag.name }}
                            </a>
                            {% if not forloop.last %}, {% endif %}
                          {% endfor %}
                        </p>
                    </div><!--//media-body-->
                </div><!--//media-->
            </div><!--//item-->
        {% endfor %}

        {% include "pagination.html" with page=posts %}

        
    </div>
</section>
{% endblock %}