
.blog-list .container .item
{
    direction: rtl !important;
    text-align: right !important;
}
/*@font-face*/

@font-face{
    font-family: "Tajawal";
    src:url('/static/assets/fonts/Tajawal/Tajawal-Regular.ttf');
}
@font-face{
    font-family: "NotoKufi";
    src:url('/static/assets/fonts/Noto_Kufi_Arabic/ArbFONTS-22015-notokufiarabic-regular.ttf');
}

@font-face{
    font-family: "Tajawal";
    src:url('/static/assets/fonts/Tajawal/Tajawal-Regular.ttf');
}
Droid Arabic Kufi

html, body,p,h1,h2,h3,h4,h5{
    font-family:"NotoKufi";
}
.blog-list .item .intro{
    font-family: "NotoKufi" !important;
    font-size: 12px;
    line-height: 1.2rem;
}

.blog-list .item .post-thumb {
    max-width: 110px !important;
    border-radius: 2px !important;
}
.signup-form
{
    text-align: right !important;
    direction: rtl !important;
}
.profile-section .bio
{
    text-align: center !important;
    direction: rtl !important;

}
.blog-list .blog-nav
{
    direction: rtl;
}
.container{
    direction: rtl !important;
    
}

.blog-post .title {
    direction: rtl !important;
    text-align: right !important;
}
.meta {
direction: rtl !important;
text-align: right !important;
}
ul{
    /* text-align: right !important; */
}
li{
    text-align: right !important;
}
ol{
    text-align: right;
}
h3,h5,h1,h2,h4{
    text-align: right;
}
.blog-name{
    text-align: center !important;
}
form{
    text-align: right !important;
    direction: rtl !important;
}
input{
    text-align: right !important;
    direction: rtl !important;
}
label{
    text-align: right !important;
    direction: rtl !important;
}
span{
    text-align: right !important;
    direction: rtl !important;
}
.alert-info{
    text-align: right !important;
    direction: rtl !important;
}
.color-my{
    direction: rtl !important;
    text-align: right !important;
}
.note-panel-default{
    font-size: x-large;
}
#div_id_content
{
    direction:ltr !important;
}


